.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
icon.svg
BUILD.md
doc/**
# 排除开发依赖，但保留运行时依赖
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
node_modules/typescript/**

